<div class="panel panel-primary" *ngIf="employee">
    <div class="panel-heading">
        <h4 class="panel-title">{{employee.name}}</h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row" class="vertical-align">
                <div class="col-xs-4">
                    <img class="imageClass" [src]="employee.photoPath" alt="">
                   
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-6">
                            Gender
                        </div>
                        <div class="colxs-6">
                            : {{employee.gender}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Date of Birth
                        </div>
                        <div class="colxs-6">
                            : {{employee.dateOfBirth | date}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Contact Preference
                        </div>
                        <div class="colxs-6">
                            : {{employee.contactPreference}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Phone
                        </div>
                        <div class="colxs-6">
                            : {{employee.phoneNumber}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Email
                        </div>
                        <div class="colxs-6">
                            : {{employee.email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Department
                        </div>
                        <div class="colxs-6" [ngSwitch]="employee.department">
                            :
                            <span *ngSwitchCase="3">HR</span>
                            <span *ngSwitchCase="2">IT</span>
                            <span *ngSwitchCase="5">Admin</span>
                            <span *ngSwitchCase="4">Dr</span>
                            <span *ngSwitchDefault>N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Is Active
                        </div>
                        <div class="colxs-6">
                            : {{employee.isActive}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
       
        <a class="btn btn-primary" [routerLink]="['/list', {id: employee.id}]" queryParamsHandling="preserve"> 
            Back to List
        </a>
        <button class="btn btn-primary pull-right" (click)="viewNextEmployee()">View Next Employee</button>
    </div>
</div>


