<div class="container">

  <nav class="navbar navbar-default" style="background-color: #e3f2fd;">
    <ul class="nav navbar-nav">
      <li><a routerLink="list">List</a></li>
     <!--  <li><a routerLink="create">Create</a></li> -->
     <li><a routerLink="edit/0">Create</a></li>
    </ul>
  </nav>

  <div *ngIf="showLoadingIndicator" class="spinner"></div>

  <router-outlet></router-outlet>
 
  <!--<div class="form-group">
    <input type="text" class="form-control" name="motCle" placeholder="search for a Name">
  </div>-->
  <!--<app-list-employees></app-list-employees>-->

</div>

