
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">

    <div class="panel panel-primary">
        <div class="panel-heading">Create Employee</div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                <label for="name" class="control-label">Name</label>
                <input required id="name" name="name" [(ngModel)]="employee.name" type="text" class="form-control"
                    #name="ngModel">
                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Name is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="email.invalid">
                <label for="email" class="control-label">Email</label>
                
                <input id="email" [required]="contactPreference.value=='Email'"
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" [(ngModel)]="employee.email"
                    type="text" class="form-control" #email="ngModel">
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.pattern">
                    Email is invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber.invalid">
                <label for="phoneNumber" class="control-label">Phone</label>
               
                <input [required]="contactPreference.value=='Phone'" id="phoneNumber" name="phoneNumber"
                    [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel" type="text" class="form-control">
                <span class="help-block" *ngIf="phoneNumber.errors?.required">
                    Phone Number is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" value="Email" name="contactPreference"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">
                        Email
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="Phone" name="contactPreference"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">
                        Phone
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">
                    Contact Preference is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" value="Male" name="gender" [(ngModel)]="employee.gender"
                            #gender="ngModel"> Male
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="Female" name="gender" [(ngModel)]="employee.gender"
                            #gender="ngModel"> Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.touched && gender.invalid">
                    Gender is required
                </span>
            </div>

            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive"> Is Active
                    </label>
                </div>
            </div>

            <div class="form-group" [class.has-error]="department.touched && department.invalid">
                <label for="department" class="control-label">
                    Department
                </label>
                <select appSelectValidator="select" id="department" name="department" [(ngModel)]="employee.department"
                    #department="ngModel" class="form-control">
                    <!-- <option [ngValue]="null">Select Department</option> -->
                    <option value="select">Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>
                </select>
                <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
                    Department is required
                </span>
            </div>

            <div class="row">
                <div class="form-group col-md-5" [class.has-error]="dateOfBirth.touched && dateOfBirth.invalid">
                    <label for="dateOfBirth" class="control-label">Date of Birth</label>
                    <input required id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth"
                        #dateOfBirth="ngModel" type="text" placement="right" bsDatepicker [bsConfig]='datePickerConfig'
                        class="form-control">
                    <span class="help-block" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
                        Date of Birth is required
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="photoPath" class="control-label">Photo Path</label>
                <input id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" type="text"
                    class="form-control">
            </div>

            <div class="form-group">
                <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
                   
                    {{previewPhoto? "Hide " : "Show "}} Preview
                </button>
            </div>

            <div class="form-group">
                <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto" alt="">
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>

</form>


Angular Generated Form Model : {{ employeeForm.value | json }}
<br>
<br>

Our Employee Model : {{ employee | json }}