
<div class="form-group">
    <input type="text" placeholder="Search By Name"  class="form-control" [(ngModel)]="searchTerm">
</div>


<div *ngFor="let employee of filteredEmployees "> 
        <app-display-employee [employee]="employee" [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)">
           

        </app-display-employee>
</div>

<div *ngIf="error">
    {{ error }}
</div>

